:root{
    --color-primary-first:#3c8067;
    --color-primary-second:#f2ebe3;

    --color-neutral-first:#1c232b;
    --color-neutral-second:#6b718a;
    --color-neutral-third:#ffffff;
}
body{
    background: var(--color-primary-second);
}
/* 
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
*/
.produto{
    position: relative;
    display: grid;
    grid-template:
    'produto descricao'
    'produto descricao'/50% 40%;
    background: var(--color-neutral-third);
  
   
    border-radius: 15px;
    box-shadow: 5px 5px 0 black;

    width: auto;
    max-width: 710px;
    margin: 5em auto;
}
@media screen and (max-width:440px){
    .produto{
        grid-template:
        'produto produto'
        'descricao descricao';
       
        width: 100%;
    }
}
.produto picture{
    grid-area: produto;
    box-shadow: 5px 0 3px 0 black;
}
.produto div{
    grid-area: descricao;
    margin: 1em;
}
.produto picture img{
    width: 100%;
    height: 100%;
    border-radius: 6px 0 0 6px;
}
.nome_do_produto{
    color: var(--color-neutral-second);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 8px 1em;
}
.produto h1{
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
}
.produto p{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
}
.preco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap:1em;
}
.preco-atual{
    color: var(--color-primary-first);
 
    font-size: 2em;
}
.preco-atual::after{
    content: '$169.99';
    font-style: oblique;
    text-decoration: line-through;
    color: var(--color-neutral-second);
    vertical-align: top;
    font-size: 16px;
}

.carrinho{
    background: var(--color-primary-first);
    transition: 0.3s;
    padding: 1em 5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    width: 100%;
    font-size: 1.2em;
    text-decoration: none;

}
.carrinho::before{
    content: url(../assets/images/icon-cart.svg);
    margin: 0 5px;
}
.carrinho:hover{
   
    background:rgb(45, 95, 77);
}